<style type="text/css">
	.parallax-container {
		height: 550px;
	}
	.parallax {
		zoom: 20%;
		/*height: 100%;*/
	}
	.section {
		height: 100%;
		display: inline-block;
		padding: 10%;
	}
	.nav {
		text-align: center;
	}
	.footer {
		height: 170px;
		text-align: center;
	}
	.nav-wrapper {
		padding-left: 2%;
		padding-right: 2%;
		background-color: teal;
	}
</style>
<div ng-controller='homeController'>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Cloud Card</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
        </ul>
      </div>
    </nav>
  </div>
 <div class="parallax-container">
    <div class="parallax"><img src="bluebeach.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Welcome</h2>
      <p class="grey-text text-darken-3 lighten-3">Welcome to your cloud card. This is where your online presence is established. This is the space where you maintain your online professional and/or personal store front. Let people know how to reach you, by a simple share.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="city.jpg"></div>
  </div>
<div class = "footer">
	<h1>This is the footer area</h1>
</div>

</div>