<style type="text/css">
</style>
<h2>Set up your Cloud Presence</h2>
<div ng-controller='userController'>
  <div class = "container userForm">
    <form class="col s12 form-wrapper" ng-submit = "createUser()">
      <div class="row">
      <div class="input-field col s12">
        <input  id="first_name" type="text" class="validate" ng-model = 'user.firstName'>
        <label for="first_name">First Name</label>
      </div>
      </div>
    <div class = "row">
      <div class="input-field col s12">
        <input id="last_name" type="text" class="validate" ng-model = 'user.lastName'>
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" ng-model = 'user.email'>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="age" type="number" class="validate" ng-model = 'user.age'>
        <label for="age">Age</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="occupation" type="number" class="validate" ng-model = 'user.occupation'>
        <label for="occupation">Occupation</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="education" type="number" class="validate" ng-model = 'user.education'>
        <label for="education">Education/School</label>
      </div>
    </div>
    <div class = "row">
      <div class="input-field col s12">
        <input id="instagram" type="text" class="validate" ng-model = 'user.instagram'>
        <label for="instagram">Instagram</label>
      </div>
    </div>
    <div class = "row">
      <div class="input-field col s12">
        <input id="facebook" type="text" class="validate" ng-model = 'user.facebook'>
        <label for="facebook">Facebook</label>
      </div>
    </div>
    <div class = "row">
      <div class="input-field col s12">
        <input id="personalSite" type="text" class="validate" ng-model = 'user.personalSite'>
        <label for="personalSite">Personal Site</label>
      </div>
    </div>
    <div class = "row">
      <div class="input-field col s12">
        <input id="linkedIn" type="text" class="validate" ng-model = 'user.linkedIn'>
        <label for="linkedIn">LinkedIn</label>
      </div>
    </div>
    <div class = "row">
      <div class="input-field col s12">
        <input id="github" type="text" class="validate" ng-model = 'user.github'>
        <label for="github">Github</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
    </form>
    <br>
</div>