<style type="text/css">
</style>
<div ng-controller='userController'>
<h2>Set up your Cloud Presence</h2>

</form>
  <div class = "container userForm">
    <form class="col s12 form-wrapper" name="myForm" ng-submit = "createUser()">
      <div class="row">
      <div class="input-field col s6">
        <input  id="firstName" name = "firstName" type="text"  ng-model = 'user.firstName' ng-minlength="2" required>
        <label for="first_name">First Name *</label>
      </div>
      <div class = "col s6">
        <br>
        <span class = "error" ng-show="myForm.firstName.$dirty && myForm.firstName.$invalid">Required Field. Minimum 2 characters.</span>
        <span class="success" ng-show="myForm.firstName.$valid">&#x2714;</span>
      </div>
      </div>
    <div class = "row">
      <div class="input-field col s6">
        <input id="lastName" name = "lastName" type="text"  ng-model = 'user.lastName' ng-minlength="2" required>
        <label for="lastName">Last Name *</label>
      </div>
      <div class = "col s6">
        <br>
        <span class = "error" ng-show="myForm.lastName.$dirty && myForm.lastName.$invalid">Required Field. Minimum 2 characters.</span>
        <span class="success" ng-show="myForm.lastName.$valid">&#x2714;</span>
      </div>
    </div>
    <div class = "row">
      <div class="input-field col s6">
        <input id="userName" name = "userName" type="text"  ng-model = 'user.userName' ng-minlength="2" required>
        <label for="userName">User Name *</label>
      </div>
      <div class = "col s6">
        <br>
        <span class = "error" ng-show="myForm.userName.$dirty && myForm.userName.$invalid">Required Field. Minimum 2 characters.</span>
        <span class="success" ng-show="myForm.userName.$valid">&#x2714; but we will have to double check availability.</span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="email" name = "email" type="email"  ng-model = 'user.email' required>
        <label for="email">Email *</label>
      </div>
      <div class = "col s6">
        <br>
        <span class = "error" ng-show="myForm.email.$dirty && myForm.email.$error.required">Required Field.</span>
        <span class = "error" ng-show="myForm.email.$error.email">
        Not a valid email.</span>
        <span class="success" ng-show="myForm.email.$valid">&#x2714;</span>
      </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
          <textarea id="description" name = "description" g-maxlength="180" ng-minlength="10" ng-model = "user.description" class="materialize-textarea" required></textarea>
          <label for="description">Textarea</label>
        </div>
        <div class = "col s6">
          <br>
          <span class = "error" ng-show="myForm.description.$dirty && myForm.description.$invalid">Required Field. 10-180 Characters.</span>
          <span class="success" ng-show="myForm.description.$valid">&#x2714;</span>
      </div>
      </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="age" name = "age" ng-Inputlength type="number"  ng-model = 'user.age'>
        <label for="age">Age</label>
      </div>
      <div class = "col s6">
        <br>
        <span class="success" ng-show="myForm.age.$dirty && myForm.age.$valid && ageLength > 0 ">&#x2714;</span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="occupation" name = "occupation" type="text"  ng-model = 'user.occupation'>
        <label for="occupation">Occupation</label>
      </div>
      <div class = "col s6">
        <br>
        <span class="success" ng-show="myForm.occupation.$dirty &&myForm.occupation.$valid && occupationLength > 0 ">&#x2714;</span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="education" type="text" name = "education" ng-model = 'user.education'>
        <label for="education">Education/School</label>
      </div>
      <div class = "col s6">
        <br>
        <span class="success" ng-show="myForm.education.$dirty &&myForm.education.$valid && educationLength > 0 ">&#x2714;</span>
      </div>
    </div>
    <div class = "row">
      <div class="input-field col s6">
        <input id="instagram" type="text" name = "instagram" ng-model = 'user.instagram'>
        <label for="instagram">Instagram</label>
      </div>
      <div class = "col s6">
        <br>
        <span class="success" ng-show="myForm.instagram.$dirty &&myForm.instagram.$valid && instagramLength > 0"> &#x2714;</span>
      </div>
    </div>
    <div class = "row">
      <div class="input-field col s6">
        <input id="facebook" type="text" name = "facebook" ng-model = 'user.facebook'>
        <label for="facebook">Facebook</label>
      </div>
      <div class = "col s6">
        <br>
        <span class="success" ng-show="myForm.facebook.$dirty &&myForm.facebook.$valid && facebookLength > 0" >&#x2714;</span>
      </div>
    </div>
    <div class = "row">
      <div class="input-field col s6">
        <input id="flickr" type="text" name = "flickr" ng-model = 'user.flickr'>
        <label for="flickr">Flickr</label>
      </div>
      <div class = "col s6">
        <br>
        <span class="success" ng-show="myForm.flickr.$dirty &&myForm.flickr.$valid && flickrLength > 0" >&#x2714;</span>
      </div>
    </div>
    <div class = "row">
      <div class="input-field col s6">
        <input id="personalSite" name = "personalSite" type="text"  ng-model = 'user.personalSite'>
        <label for="personalSite">Personal Site</label>
      </div>
      <div class = "col s6">
        <br>
        <span class="success" ng-show="myForm.personalSite.$dirty &&myForm.personalSite.$valid && personalSiteLength > 0" >&#x2714;</span>
      </div>
    </div>
    <div class = "row">
      <div class="input-field col s6">
        <input id="linkedIn" type="text" name = "linkedIn" ng-model = 'user.linkedIn'>
        <label for="linkedIn">LinkedIn</label>
      </div>
      <div class = "col s6">
        <br>
        <span class="success" ng-show="myForm.linkedIn.$dirty &&myForm.linkedIn.$valid && linkedInLength > 0 ">&#x2714;</span>
      </div>
    </div>
    <div class = "row">
      <div class="input-field col s6">
        <input id="github" type="text" name = "github" ng-model = 'user.github'>
        <label for="github">Github</label>
      </div>
      <div class = "col s6">
        <br>
        <span class="success" ng-show="myForm.github.$dirty && myForm.github.$valid && githubLength > 0 ">&#x2714;</span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input  id="password" name = "password" type="text"  ng-model = 'user.password' ng-pattern = "/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,32}/" required>
        <label for="first_name">Password *</label>
      </div>
      <div class = "col s6">
        <br>
        <span class = "error" class="error" ng-show="myForm.password.$error.pattern && myForm.password.$dirty">Requires 1 uppercase, lowercase, number, and special character. 8-32 characters.</span>
        <span class="success" ng-show="myForm.password.$valid">&#x2714;</span>
      </div>
    </div>
     <div class="row">
      <div class="input-field col s6">
        <input  id="confirmPassword" name = "confirmPassword" type="text"  ng-model = 'user.confirmPassword' compare-to="user.password" required>
        <label for="first_name">Confirm Password *</label>
      </div>
      <div class = "col s6">
        <br>
        <span class = "error" ng-show="myForm.confirmPassword.$dirty && myForm.confirmPassword.$invalid">Required Field. Must match password field.</span>
        <span class="success" ng-show="myForm.confirmPassword.$valid">&#x2714;</span>
      </div>
    </div>
                <select class="instagram-select" ng-model="user.color" material-select watch>
                <option>Red</option>
                <option>Orange</option>
                <option >Yellow</option>
                <option >Green</option>
                <option >Blue</option>
                <option >Indigo</option>
                <option >Violet</option>
                </select>
                <label>Instagram</label>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
    </form>
    <br>
</div>